<div style="margin:20px 0">
    <a class="btn btn-default" href="#/plan/{{planId}}">Back to plan</a>
    <form class="form-horizontal" name="formEvent" ng-submit="saveEvent(event)">
        <div class="form-group">
            <label class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" ng-init="''" ng-model="event.title" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" ng-model="event.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Date</label>
            <div class="col-sm-10">
                <input class="form-control" type="date" ng-model="event.date" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Map</label>
            <div class="col-sm-10">
                <google-map draggable="true" center="map.center" zoom="map.zoom">
                    <marker coords="event.position" options="marker.options" events="marker.events"></marker>
                </google-map>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Url</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" ng-model="event.url">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Time</label>
            <div class="col-sm-10">
                <input class="form-control" type="time" ng-model="event.time">
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-default col-sm-offset-1 col-sm-3" type="submit" ng-disabled="formEvent.$invalid">Save</button>
        </div>
    </form>
</div>